article {
  display: flex;
  flex-direction: column;
  row-gap: var(--m-gap);
}

article a {
  color: rgb(22, 121, 171);
  text-decoration: underline;
}

article h2, article h3, article h4, article h5 {
  font-family: var(--fira-sans);
  font-weight: 700;
}

article h3, article h4, article h5 {
  margin-bottom: calc(var(--s-gap)/-2);
}

article h2 {
  font-size: 22px;
}

article h3 {
  font-size: 20px;
}

article h4 {
  font-size: 18px;
}

article h5 {
  font-size: 18px;
}

article ol {
  display: flex;
  flex-direction: column;
  row-gap: var(--s-gap);
  padding-left: 32px;
  list-style-type: decimal;
}

article ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--s-gap);
  padding-left: 32px;
  list-style-type: disc;
}

article ul ul {
  list-style-type: circle;
}

/* All starting from second. */
article li p:nth-child(n + 2) {
  margin-top: var(--s-gap);
}

article img {
  /* .small-shadow */
  border-width: var(--border-width);
  border-color: var(--foreground);
  box-shadow: var(--s-shadow) var(--s-shadow) var(--foreground);
  margin-right: var(--s-shadow);
  margin-bottom: var(--s-shadow);
}

article blockquote {
  font-family: var(--fixedsys);
  font-size: 19px;
  line-height: 1;
  padding: 0 0 0 60px;
  text-align: end;
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: var(--s-gap);
}

article table {
  width: 100%;
  overflow-x: auto;
}

article details table {
  display: block; /* To make overflow-x work. */
  border-width: 0;
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
}

article table, article th, article td {
  border: 1px solid rgb(192, 192, 192);
}

article th, article td {
  padding: 8px;
}

article th {
  font-weight: 700;
}

article td {
  background-color: var(--background);
}

article details {
  width: fit-content;
  max-width: calc(100% - var(--s-shadow));

  /* .small-shadow */
  border-width: var(--border-width);
  border-color: var(--foreground);
  box-shadow: var(--s-shadow) var(--s-shadow) var(--foreground);
  margin-right: var(--s-shadow);
  margin-bottom: var(--s-shadow);
}

article summary {
  font-family: var(--fixedsys);
  font-size: 22px;
  padding: 8px 16px;
  background: rgb(248, 248, 57);
  cursor: pointer;
}

article details[open] > summary {
  border-bottom-width: var(--border-width);
  border-bottom-color: var(--foreground);
}

article pre {
  font-size: 14px;
  font-family: var(--fira-code);
  background: white;
  padding: 14px 18px;
  overflow-x: auto;

  /* .small-shadow */
  border-width: var(--border-width);
  border-color: var(--foreground);
  box-shadow: var(--s-shadow) var(--s-shadow) var(--foreground);
  margin-right: var(--s-shadow);
  margin-bottom: var(--s-shadow);
}

article details pre {
  border-width: 0;
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  article details {
    border-width: 2px;
  }

  article summary {
    background-color: rgb(53, 52, 52);
  }

  article details[open] > summary {
    border-bottom-width: 2px;
  }

  article a {
    color: rgb(83, 170, 214);
  }

  article pre {
    background: black;
  }
}

/* Code highlighing styles: */

@media (prefers-color-scheme: light) {
  pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}
  .hljs{color:#24292e;background:#fff}.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:#b60000}.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#6937c9}.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:#0055b7}.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#032f62}.hljs-built_in,.hljs-symbol{color:#c75100}.hljs-code,.hljs-comment,.hljs-formula{color:#525a61}.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#22863a}.hljs-subst{color:#24292e}.hljs-section{color:#005cc5;font-weight:700}.hljs-bullet{color:#735c0f}.hljs-emphasis{color:#24292e;font-style:italic}.hljs-strong{color:#24292e;font-weight:700}.hljs-addition{color:#22863a;background-color:#f0fff4}.hljs-deletion{color:#b31d28;background-color:#ffeef0}
}

@media (prefers-color-scheme: dark) {
  /* highlight.js/styles/monokai.css with more contrast comments */
  pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#272822;color:#ddd}.hljs-keyword,.hljs-literal,.hljs-name,.hljs-number,.hljs-selector-tag,.hljs-strong,.hljs-tag{color:#f92672}.hljs-code{color:#66d9ef}.hljs-attr,.hljs-attribute,.hljs-link,.hljs-regexp,.hljs-symbol{color:#bf79db}.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-emphasis,.hljs-section,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-string,.hljs-subst,.hljs-template-tag,.hljs-template-variable,.hljs-title,.hljs-type,.hljs-variable{color:#a6e22e}.hljs-class .hljs-title,.hljs-title.class_{color:#fff}.hljs-comment,.hljs-deletion,.hljs-meta,.hljs-quote{color:#888372}.hljs-doctag,.hljs-keyword,.hljs-literal,.hljs-section,.hljs-selector-id,.hljs-selector-tag,.hljs-title,.hljs-type{font-weight:700}
}
